# {{ ansible_managed }}
{% set scripts_attr = ['postrotate', 'prerotate'] %}

{% for v in item.value -%}

{%- if v.description is defined %}
# {{ v.description }}
{% endif -%}

{% if 'path' in v or 'paths' in v -%}

{% if 'path' in v %}
{{ v.path }}
{% elif 'paths' in v -%}
{% for path in v.paths -%}
{{ path }}
{% endfor -%}
{% endif -%}
{
{% if v.options is defined %}
{# all logrotate options #}
  {% for option in v.options -%}
  {{ option }}
  {% endfor -%}
{% endif %}
{% if v.scripts is defined %}

{# pre- or postrotate scripts #}
{% for name, script in v.scripts.items() %}
{% if name in scripts_attr %}
  {{ name }}
    {{ script }}
  endscript
{% endif %}
{% endfor %}
{% endif %}
}

{% endif %}
{% endfor %}
